html, body{
  height: 100%;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

.archive_title {
  h1 {
    margin: 10px 0;
  }
  p {
    margin: 10px 0;
  }
}

.archive_box {
  margin: 10px 0;
  padding: 10px;

  -webkit-box-shadow: 2px 2px 8px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    2px 2px 8px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         2px 2px 8px 0px rgba(50, 50, 50, 0.75);

  .archive_info {
    padding: 5px 0;

    h2 {
      font-size: 1.2em;
      margin: 0;
      padding: 0;
    }

    p {
      margin: 0;
      padding: 0;
    }
  }

  .archive_thumbnail {

  }
}

#content_main  {
  padding-top: 50px;
  h1 {
    font-size: 28px;
    font-weight: 600;
  }
  h2 {
    font-size: 22px;
    font-weight: 400;
  }

  p {
    font-size: 16px;
    line-height: 1.6;
  }
}

.section {
  padding: 30px 0!important;
}

.section-white {
  background: #ffffff;
}

.section-light {
  background: #F2F2F2;
}

.content-section-dark {
  background: #ffffff;
}

#footer {
  background: #36568A;
  padding: 10px 0;
  width: 100%;
  color: #ffffff;
  text-align: center;
}



.align_left { text-align: left; }
.align_center { text-align: center; }
.align_right { text-align: right; }


/* Buttons */
.button {
  display: inline-block;
  margin: 10px 0;
}

.button-rounded {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; /* future proofing */
  -khtml-border-radius: 10px; /* for old Konqueror browsers */
}

a.button-default {
  border: 2px solid transparent;
  background: #36568A!important;
  color: #ffffff!important;
  text-decoration: none!important;
}

a.button-default:hover {
  border: 2px solid #36568A;
  background: none!important;
  color: #36568A!important;
  text-decoration: none!important;
}

a.button-nobg {
  border: 2px solid #ffffff;
  background: none;
  color: #ffffff!important;
  text-decoration: none!important;
}

a.button-nobg:hover {
  border: 2px solid #ffffff;
  background: #ffffff!important;
  color: #36568A!important;
  text-decoration: none!important;
}

.button-medium {
  font-size: 1.4em;
  padding: 10px 20px;
}

.button-small {
  font-size: 1em;
  padding: 2px 8px;
}

.button-tiny {
  font-size: 0.8em;
  padding: 2px 5px;
}

.input-search {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; /* future proofing */
  -khtml-border-radius: 10px; /* for old Konqueror browsers */
  font-size: 1em;
  padding: 2px 8px;
  border: 2px solid #36568A;
  background: none!important;
  color: #36568A!important;
}

.returnedMessage, .returnedMessage2 {
  display: none;
}

.error-input-red {
  border: 1px solid red;
  background: #FFE5E5;
}

.btn-primary {
  border: 2px solid transparent;
  background: #36568A !important;
  color: #ffffff !important;
  text-decoration: none !important;
  border-radius: 10px !important;
  -khtml-border-radius: 10px !important;

  &:hover {
    border: 2px solid #36568A;
    background: none!important;
    color: #36568A!important;
    text-decoration: none!important;
  }
}