#header {
  height: 50px;
  position: fixed;
  top: 0;
  z-index: 9999999;

  .navbar-default {
    background: $color-blue;
    border-color: $color-light-blue;

    .navbar-toggle {
      background: $color-white;

      .icon-bar {
        background: $color-blue;
      }
    }

    .navbar-header {
      a {
        color: $color-white;
      }
    }

    #navbar {
      background: $color-blue;
      color: $color-white;
      a{
        color: $color-white;
        &:hover {
          background: $color-light-blue;
          color: $color-white;
        }
      }

      .navbar-form {
        margin-left: 0;
        margin-right: 0;
      }

      .nav {
        .active {
          a {
            background: $color-light-blue;
          }
        }

        .open {
          a {
            background: $color-light-blue;
          }
        }

        .dropdown-menu {
          a {
            color: $color-blue;
            background: $color-white;
            &:hover {
              background: $color-light-blue;
              color: $color-white;
            }
          }
        }
      }
    }
  }
}
