#introduction {
  background: $color-blue;
  color: $color-white;
  text-align: center;
  border-top: 1px solid rgba(255,255,255,0.1);
  padding: 15px 0;

  h1 {
    font-weight: 900;
    font-size: 5em;
  }

  h2 {
    font-weight: 700;
    font-size: 3em;
  }
}